<p id="notice"><%= notice %></p>

<% content_for(:title) { "Admin::User's page" } %>
<table class="table table-striped">
  <tr>
    <th>Gravatar</th>
    <th>Login</th>
    <th>Email</th>
    <th>Full name</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>

  <tr>
    <td><%= gravatar_for @user %></td>
    <td><%= @user.login %></td>
    <td><%= @user.email %></td>
    <td><%= @user.full_name %></td>
    <td><%= @user.created_at %></td>
    <td><%= @user.updated_at %></td>
  </tr>

</table>

<%= link_to 'Edit', edit_admin_user_path(@user) %> |
<%= link_to 'Back', admin_users_path %>
